#videoUploaderModal {
    position: relative;
    height: 100%;
}

#videoUploaderModal .form-inline .form-group {
    display: block;
    margin-bottom: 10px;
}

#videoUploaderModal input[type=radio] {
    margin-right: 20px;
}

#videoUploaderModal p {
    margin-left: 100px;
    background: #e0eaf7;
    padding: 5px 6px;
    display: inline-block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 40px;
    color: #6b6b6b;
    letter-spacing: 1px;
}

#videoUploaderModal .vum-footer {
    position: absolute;
    right: 0;
    bottom: 20px;
}

#videoUploaderModal .vum-footer .btn {
    width: 100px;
    margin-right: 20px;
}

#videoUploaderModal #vumVideoUploader {
    width: 240px;
    height: 135px;
    border: 1px solid #ccc;
    margin-left: 100px;
    position: relative;
    overflow: hidden;
}

#videoUploaderModal #vumImageUploader {
    width: 180px;
    height: 180px;
    border: 1px solid #ccc;
    margin-left: 100px;
    position: relative;
    overflow: hidden;
}

#videoUploaderModal #vumVideoUploader .vum-uploader-info,
#videoUploaderModal #vumImageUploader .vum-uploader-info {
    position: absolute;
    bottom: -25px;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    text-align: center;
    height: 25px;
    line-height: 25px;
    color: #fff;
    transition: bottom 0.5s;
    -webkit-transition: bottom 0.5s;
    /* Safari */
}

#videoUploaderModal #vumVideoUploader:hover .vum-uploader-info,
#videoUploaderModal #vumImageUploader:hover .vum-uploader-info {
    bottom: 0;
}

#videoUploaderModal .webuploader-pick {
    display: inline-block;
    cursor: pointer;
    width: inherit;
    height: inherit;
    padding: 0;
    background: url(../style/images/icon_add.png) no-repeat center #fff;
}

#videoUploaderModal #vumImageUploader .webuploader-pick img {
    width: 100%;
    height: 100%;
}

#videoUploaderModal #vumVideoUploader .webuploader-pick img {
    width: 100%;
}

#videoUploaderModal #vumImageUploader .webuploader-pick .vumImageWrapper {
    width: inherit;
    height: inherit;
}

#videoUploaderModal #vumVideoUploader .webuploader-pick .vumVideoWrapper {
    width: inherit;
    height: inherit;
}

#videoUploaderModal #vumVideoImport {
    display: none;
    margin-left: 100px;
}

#videoUploaderModal .vumImageFileWrapper,
#videoUploaderModal .vumVideoFileWrapper {
    height: inherit;
}

#videoUploaderModal .vumVideoFileWrapper img {
    display: none;
}

#videoUploaderModal #vumVideoImport input {
    width: 300px !important;
    height: 30px;
}

#videoUploaderModal .progress.progress-striped.active {
    height: 20px;
    /* background: #fff; */
    /* color: #000; */
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

#videoUploaderModal .progress-bar {
    height: 20px;
    background: rgba(92, 184, 92, 0.7);
    color: #fff;
}

#videoUploaderModal .progress-status {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

#videoUploaderModal .uploader-error {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
    width: 100%;
    background: rgb(193, 46, 46);
    height: 25px;
    z-index: 10;
    line-height: 25px;
}

#videoUploaderModal .uploader-error.success {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
    width: 100%;
    background: #449d44;
    height: 25px;
    z-index: 10;
    line-height: 25px;
}

#videoUploaderModal .uploader-error.wait {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 25px;
    z-index: 10;
    line-height: 25px;
}

#videoUploaderModal #video video {
    width: 240px;
    height: 120px;
}

#vumSelectDialog table tr th, table tr td {
    width: 25%;
}

/*
 *
 *todo 图片上传弹出框
 *
 *
 */
.popup-upload{
    padding:0 15px;
}
.popup-upload .form-inline .form-group{
    padding: 30px 0;
}
#bndArea{
    width: 570px;
    padding: 10px;
    display: inline-block;
    border: 3px dashed transparent;
}
#bndArea.webuploader-dnd-over{
    border: 3px dashed #999;
}
.popup-upload .form-control{
    width: 538px!important;
    max-width: 538px;
}
.popup-upload .line{
    width: 670px;
    border-bottom: 1px solid #ccc;
}
.upload-btn{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.img-upload , .img-import{
    text-align: center;
    vertical-align: top;
    margin: 0 5px 0 0;
    display: inline-block;
    width: 81px;
    height: 81px;;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #ccc;
    transition: background 0.5s;
    overflow: hidden;
}
.img-upload.upload-ok{
    background: #fff;
}
.img-upload p , .img-import p{
    /*height: 80px;*/
    /*line-height: 80px;*/
    /*color: #fff;*/
}
.img-upload .img ,.img-import .img{
    width: 100%;
    height: 100%;
}
.upload-footer{
    margin: 20px 0;
    text-align: right;
}
.j-close,.pic-close,.uploadNetWorkCloseImg{
    position: absolute;
    width: inherit;
    height: inherit;
    background: rgba(0,0,0,0.3);
    border-radius: inherit;
    display: none;
}
.j-sort img{
    position: relative;
    top: 2px;
    right: 2px;
    width: 6px!important;
    height: 12px!important;
}
.j-close img,.pic-close img,.uploadNetWorkCloseImg img{
    cursor: pointer;
    margin-top: 24px;
    width: 32px!important;
    height: 32px!important;
}
.img-upload:hover .uploadNetWorkCloseImg ,.img-import:hover .uploadNetWorkCloseImg{
    display: inline-block;
}
.s-line{
    color: #459ae9;
}
.j-upload-info{
    position: absolute;
    background: rgba(0,0,0,0.6);
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    color: white;
}
.img-import,.img-upload{
    position: relative;
}

.webuploader-container {
    position: relative;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /*background: #00b7ee;*/
    padding: 10px 15px;
    /*color: #fff;*/
    text-align: center;
    border-radius: 3px;
    /*overflow: hidden;*/
    width: 81px;
    height: 81px;
    background: url("../images/imgupload.png") no-repeat center #fff;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}
#theList{
    vertical-align: top;
    display: inline-block;
}
#theList ul{
    margin-bottom: 0 !important;
}
#theList ul li{
    float: left;
}
#theList .imgWrap img{
    width: 80px;
    height: 80px;
}
#picker{
    vertical-align: top;
    display: inline-block;
    /*overflow: hidden;*/
}
#picker p{
    position: absolute;
    bottom: -18px;
    cursor: default;
    text-align: center;
    margin:0;
}
.filelist li{
    position: relative;
    margin-right: 8px;
}
.filelist li .title{
    position: absolute;
    color: #000;
    bottom: 0;
    text-align: center;
    /* left: 10px; */
    z-index: 500;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cancel-wrapper{
    display: none;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    border-radius: 4px;
}
.filelist li:hover .cancel-wrapper{
    display: inline-block;
}
.imgWrap{
    height: 80px;
    border-radius: 4px;
}
.img-modal-cancel{
    cursor: pointer;
    position: relative;
    top: 23px;
    left: 23px;
}
.error{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.thumbnail{
    padding:0 !important;
    margin-bottom: 0 !important;
}
.thumbnail p,.img-import p{
    margin:0 !important;
}